@import url('https://fonts.googleapis.com/css?family=Comfortaa|Righteous');


body{
    background: url('https://media0.giphy.com/media/xThuWjC7yute751y0g/giphy.gif');
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    font-weight:bold;
    color:purple;
    padding: 50px;
    
   
   
    
  
}


h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:ghostwhite;
    margin: 0;
    margin-bottom: .5em;
    padding: 1em;
    text-align: center;
    opacity: 0.8;
}

a{
    color: yellow;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    background: rgba(193, 235 , 187, .9);
}

a:hover {
color: ghostwhite;
}

li{
    list-style: none;
    padding: 10px;
    background-color: rgba(193, 235 , 187, .9);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    display: block;
    justify-content: center;

    transition: background-color .2s ease-out;
}
li a {
    color: ghostwhite;
}

input[type=text]{
    padding: 10px;
}

input[type=submit]{
    padding: 10px;
    color: green;
    background: ghostwhite;
    font-size: 1em;
    border-radius: 10%;
}